{% extends "genom/base.html" %}

{%block content %}
	{% for post in posts %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ post.author }}</a>
		      <p>
			Embryo selection is quickly becoming comples. How should we choose?

			We show you moral dilemmas in reproduction, where you must choose the lesse of two evils. If you must choose 
			embryo with a high risk of disease, which of two diseases do you choose?

			As an outside observer, you judge which outcome you think is more acceptable. You can then see how your 
			responses compare to those of other people.
			  </p>
		    </div>
		  </div>
		</article>
		
	{% endfor %}
	
{% endblock content %}